body {
    font-family: Monotyp corsiva;
    background-color: lightblue;
    margin-top: 175px;
    color: blue;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

